html {
  direction: rtl;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f8f7f4;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}