# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Builds
dist/
client/dist/
server/dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Prisma / local databases
*.db
*.db-journal